.Countries-background {
  background-color: #F5F5F5
}
.Countries-background-dk {
  background-color: #282c34
}

.Countries-container {
  margin: 0 4rem;
}

.Countries {
  display: flex;
  flex-wrap: wrap;
}

.Countries-toolbar {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Below is Material UI */
.Countries-select {
  width: 10rem;
  background-color: white;
}

.Countries-search {
  background-color: white;
  width: 30rem
}

.Country-link {
  text-decoration: none;
  cursor: pointer;
  color: black
}
/* Above is Material UI */

.card {
  border: none;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 0px #e6e6e6;
  height: 340px;
  width: 21.25%
}
.card-dk {
  border: none;
  border-radius: 5px;
  height: 340px;
  width: 21.25%;
  background-color: #303444;
  color: white
}

.card-img-top {
  width: 100%; 
  height: 50%
}

.card-body p {
  margin-bottom: 0
}

.card-title, .card-body span {
  font-weight: 800;
}