.Navbar-bg-dk {
  background-color: #3e4355;
  color: white;
  border: none
}
.Navbar-bg {
  border-bottom: 1px solid lightgray;
}
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0.5rem 4rem;
  max-width: 1440px;
}
.Nav-link {
  text-decoration: none;
  color: #44474a
}
.Nav-link:hover {
  color: gray
}
.Nav-link-dk {
  text-decoration: none;
  color: white
}
.Nav-link-dk:hover {
  color: lightgray
}
.Navbar-right {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.Nav-icon {
  margin-right: 0.3rem;
}
.Navbar h2 {
  font-weight: 800;
  padding-top: 0.5rem;
}
.Navbar-right span {
  font-weight: 600;
}

@media(max-width: 500px) {
  .Navbar {
    padding: 0.5rem 2rem
  }
  .Navbar h2 {
    font-size: large;
  }
  .Navbar span {
    font-size: small;
  }
  .Nav-icon {
    transform: scale(0.7);
    margin-right: 0;
  }
}
@media(min-width: 501px) and (max-width: 670px) {
  .Navbar {
    padding: 0.5rem 1rem
  }
}
@media(min-width: 671px) and (max-width: 740px) {
  .Navbar {
    padding: 0.5rem 2rem
  }
}