.Navbar-bg-dk {
  background-color: #3e4355;
  color: white;
  border: none
}
.Navbar-bg {
  border-bottom: 1px solid lightgray;
}
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0.5rem 4rem;
  max-width: 1440px;
}
.Navbar-right {
  display: flex;
  padding-top: 1rem;
  cursor: pointer;
}
.Navbar h2 {
  font-weight: 800;
}
.Navbar-right p {
  font-weight: 600;
}